body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: Arial, sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E3BC5F;
    padding: 10px 20px !important;
}
.logo {
    width: 70px !important;
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 50% !important;
}

.logo:hover {
    transform: scale(1.1);
}
.menu {
    display: flex !important;
    gap: 2.5vw !important;
    flex-grow: 1 !important;
    justify-content: center;
}
.menu-item {
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    font-size: x-large;
    color: black;
    text-decoration: none !important;
    text-align: center !important;
    background-color: #fdf5e2;
    width: 150px;
    padding: 10px 20px !important;
    border-radius: 15px !important;
    transition: transform 0.3s ease;
}
.menu-item:hover {
    color: gray;
    transform: scale(1.1);
}
.account-logo {
    width: 90px !important;
}

.login-item {
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    font-size: x-large;
    color: black;
    text-decoration: none !important;
    text-align: center;
    background-color: #fdf5e2;
    padding: 10px 20px !important;
    border-radius: 15px !important;
}
.login-item:hover {
    color: gray;
    transform: scale(1.1);
}

#logout {
    opacity: 0.6;
    transition: opacity 0.3s ease;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    margin-left: 15px !important;      /* add space between submit recipe and logout */
}

#logout:hover {
    opacity: 1;
    transform: scale(1.1);
}