body {
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
header{
    width: 100%;
}
.menu-item {
    width: 200px !important;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: fit-content;
    width: 50%;
    background-color: mintcream;
    padding: 20px;
    border-radius: 25px;
    margin: 5%;
}

.mt-5{
    margin: 20px;
}